.headerBottom-area {
  background: url(../image/Omaha+Locksmith.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 250px 10px;
}
@media only screen and (max-width: 600px) {
  .headerBottom-area {
    background: url(../image/Omaha+Locksmith.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 100px 10px;
  }
}

.inner-text-area-left button {
  background: #ffc800;
  padding: 3px 15px;
  border-radius: 25px;
  font-size: 25px;
  border: none;
  color: white;
  transition: 0.4s;
}
.text-area {
  color: aliceblue;
}
.text-area h1 {
  color: aliceblue;
}

.text-area button:hover {
  color: white;
  background: #ffc800;
}
