.headerBottom-area {
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.575)),
    url(../image/Omaha+Locksmith.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 200px 10px;
}
@media only screen and (max-width: 600px) {
  .headerBottom-area {
    background: url(../image/Omaha+Locksmith.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 100px 10px;
  }
}

.inner-text-area-left button {
  background: #fff;
  padding: 8px 26px;
  border-radius: 25px;
  font-size: 18px;
  border: none;
  color: #ff3b3e;
  transition: 0.4s;
  font-weight: 500;
}
.text-area {
  color: aliceblue;
}
.text-area h1 {
  color: aliceblue;
}

.text-area button:hover {
  color: white;
  background: #ff3b3e;
}
.hero-title {
  color: white;
  font-size: 60px;
  padding-bottom: 20px;
  font-weight: 700;
}
.hero-title span {
  color: #ff3b3e;
}
