.add-area{
    background: #DCDCDC;
    padding: 150px 0px;
}
.inner-form-area{
    margin: 0 auto;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
}
.inner-form-area form{
   
}
.review-input{
  
}
.review-input input{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.review-input input[type="submit"]{
    width: 200px;
    margin: 0 auto;
    background: #FFC800;
}
.review-input textarea{
    width: 100%;
    border-radius: 10px;
}