.single-card h3 {
  margin-top: 10px;
  color: #ff3b3e;
  text-transform: uppercase;
}
.single-card img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.single-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background: #1b1b27;
}
.single-card-details {
  padding: 12px;
}
.single-card-details p {
  color: white;
  margin-top: 10px;
}
.single-card-details strong {
  color: white;
}
.single-card:hover {
  background: #ff3b3e;
}
.single-card:hover h3 {
  color: white;
}
