.full-nav-area {
  background: #ffe9e9;
  color: #ff3b3e;
}
.logo {
  margin: 0;
  padding: 0;
}

.logo span {
  /* color: #00b1d2; */
  color: #441e59;
}
.nav-full-area button {
  border: 1px solid #ff3b3e;
}
.nav-bar-icon {
  color: #ff3b3e;
}
.nav-full-area a {
  color: #ff3b3e;
}

.navigation-area ul li .nav-link {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 20px;
  color: #000;
  border: 1px solid transparent;
  border-radius: 10px;
}
.navigation-area ul li .nav-link:hover {
  color: #ff3b3e;
  border: 1px solid #ff3b3e;
  border-radius: 10px;
}
