.full-nav-area {
  background: #ffc800;
  color: white;
}
.logo {
  margin: 0;
  padding: 0;
}

.logo span {
  /* color: #00b1d2; */
  color: #441e59;
}
.nav-full-area button {
  border: 1px solid white;
}
.nav-bar-icon {
  color: white;
}
.nav-full-area a {
  color: white;
}

.navigation-area ul li .nav-link {
  font-size: 18px;
  padding: 5px 20px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
}
.navigation-area ul li .nav-link:hover {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}
