.inner-cart-area {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #1b1b27;
}
.inner-cart-area img {
  border-radius: 10px 10px 0px 0px;
}
.button-text-wrapper {
  padding: 20px;
}
.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.inner-cart-area button {
  background: white;
  border-radius: 10px;
  border: none;
  padding: 7px 30px;
  border-radius: 25px;
  color: #ff3b3e;
  font-weight: 500;
}
.inner-cart-area button:hover {
  color: white;
  background: #ff3b3e;
}
.details {
  color: white;
}
.button-text-wrapper h5 {
  color: #ff3b3e;
}
.inner-cart-area p {
  color: white;
}
.inner-cart-area strong {
  color: #ff3b3e;
}
