.card-area {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  padding: 20px;
  background: #fff4f4;
}
.card-area h3 {
  color: #ff3b3e;
  text-transform: uppercase;
}
